<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="nav">
      <nav class="navbar">
        <div class="nav-item"><a href="./login.html">Login</a></div>
        <div class="nav-item"><a href="./signup.html">Signup</a></div>
      </nav>
    </div>
    <div class="content">
      <div>
        <form id="taskManager" onsubmit="taskManagerReload(event)">
          <label>Title</label>
          <input
            type="text"
            placeholder="Enter Task title"
            id="title"
            required
          />
          <label>Description</label>
          <input
            type="text"
            placeholder="Enter Task Description"
            id="description"
            required
          />
          <button id="submit" type="submit" class="my-3" style="width: 100px">
            submit
          </button>
        </form>
      </div>
    </div>
    <div class="task-container">
      <h1>Task List</h1>
      <div id="task-list"></div>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Task</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="update-task-form" >
              <div class="mb-3">
                <label for="modal-title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="modal-title" />
              </div>
              <div class="mb-3">
                <label for="modal-description" class="col-form-label"
                  >Description:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="modal-description"
                />
              </div>
              <div class="mb-3">
                <label for="modal-status" class="col-form-label">Status:</label>
                <input type="text" class="form-control" id="modal-status" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" id="save-task">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../public/JS/home.js" type="module"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script>
    function taskManagerReload(event){
      event.preventDefault();
      location.reload();
    }
  </script>
</html>
